@font-face {
    font-family: 'rkt';
    src: url("fonts/rkt_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rkt';
    src: url("fonts/rkt_bold_italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'rkt';
    src: url("fonts/rkt_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rkt';
    src: url("fonts/rkt_italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

#tabs {
	background-color: #cecccf;
	height: 24px;
}

#tabs-canvas {
	background-color: #cecccf;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
}

.title {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	pointer-events: none;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant-caps: normal;
	font-weight: normal;
	height: 65px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.8);
}

.active-title {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	pointer-events: none;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant-caps: normal;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	margin-left: 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
